[Unit]
Description=VotingWorks daemon that handles PAT device input.
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=10
Type=simple
User=vx-services
Environment=VX_CONFIG_ROOT=/vx/config
Environment=VX_METADATA_ROOT=/vx/code
ExecStart=/bin/bash /vx/services/run-mark-scan-pat-daemon.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=votingworksapp

[Install]
WantedBy=multi-user.target
