[Unit]
Description=Wipe out the vx home dir
DefaultDependencies=no
Before=shutdown.target reboot.target umount.target
ConditionVirtualization=yes

[Service]
Type=oneshot
ExecStart=/var/opt/vx-cleanup.sh
RemainAfterExit=no

[Install]
WantedBy=shutdown.target reboot.target
