[Unit]
Description=VotingWorks Election Manager

[Service]
Type=simple
User=vx-services
Environment=VX_CONFIG_ROOT=/vx/config
Environment=MODULE_SEMS_CONVERTER_WORKSPACE=/vx/data/module-sems-converter
Environment=ADMIN_WORKSPACE=/vx/data/admin-service
ExecStart=/bin/bash /vx/services/run-election-manager.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=votingworksapp

[Install]
WantedBy=multi-user.target
