[Desktop Entry]
Version=1.0
Name=VxMark
Icon=runprogram.png
Exec=gnome-terminal -- /bin/sh -ic 'env PATH=$PATH:/sbin env MARK_WORKSPACE=/vx/data/module-mark /home/vx/code/vxsuite-complete-system/run.sh mark 2>&1 | tee /tmp/vxdev.log; read -p "Press any key to continue. (Session log: /tmp/vxdev.log)" line'
Terminal=false
Type=Application
