[Desktop Entry]
Version=1.0
Name=VxMarkScan
Icon=runprogram.png
Exec=gnome-terminal -- /bin/sh -c 'env PATH=$PATH:/sbin /vx/code/vxsuite-complete-system/run.sh mark-scan'
Terminal=false
Type=Application
