[Desktop Entry]
Version=1.0
Name=VxScan
Icon=runprogram.png
Exec=gnome-terminal -- /bin/sh -ic 'env PATH=$PATH:/sbin env SCAN_WORKSPACE=/vx/data/module-scan /vx/code/vxsuite-complete-system/run.sh scan 2>&1 | tee /tmp/vxdev.log; read -p "Press any key to continue. (Session log: /tmp/vxdev.log)" line'
Terminal=false
Type=Application
