[Desktop Entry]
Version=1.0
Name=VxMark
Icon=runprogram.png
Exec=gnome-terminal -- /bin/sh -c 'env PATH=$PATH:/sbin /vx/code/vxsuite-complete-system/run.sh mark'
Terminal=false
Type=Application
