[Desktop Entry]
Version=1.0
Name=Configure & Update VxDev
Icon=votingworks-logo.png
Comment=Configure this VxDev machine
Exec=gnome-terminal -- /bin/sh -c '/vx/scripts/update-vxdev.sh; sleep 3'
Terminal=false
Type=Application
